.my-manu a{
    padding: 15px 8px;
    color: #fff!important;
    font-weight: 600;
    text-decoration: none;
}
.my-manu a:hover{
    background: #fff;
    color: #000!important;
}
.navbar{
    padding: 0!important;
}
@media (max-width:576px){
    .navbar{
        padding: 8px 0 !important;
    }
    .navbar-toggler:focus{
        box-shadow: none !important;
    }
}